div.page-header#login-header
	h1 Install This App
	h1
		small This app requires you to login to start using it.
div(style="width:340px; margin:0 auto;")
	form(method="POST", action="/login/authenticate", class="form-search")
		div(style="margin:0;padding:0;display:inline")
		input(type="text", name="shop", id="shop", placeholder="Shop URL", class="btn-large")
		input(type="submit", value="Install", class="btn btn-primary btn-large")

p(align="center", style="margin-top:30px")
	img(src="/img/shopify.png")
br 

p(align="center", class="muted") 
	| Don't have a shop?
	a(href="https://app.shopify.com/services/partners/api_clients/test_shops") Create a Test Shop
